PORT=5001
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.mfledyt.mongodb.net/?appName=Cluster0
ADMIN_USERNAME=admin@morla.cafe
ADMIN_PASSWORD=morla1234
ADMIN_NAME=Morla Admin
JWT_SECRET=morla-cafe-admin-secret
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
